<title>Auto FUT Builder</title>

<header>

    <a class="logo-area" href="/"></a>

    <ul>
        <li><a href="/">Build a squad!</a></li>        
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/donate">Donate</a></li>

    </ul>

    <div class="game-select">Game <div>&#9660;</div></div>

</header>








<head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="Automatic squad builder for FUT! (Fifa Ultimate Team)">

</head>
