<!DOCTYPE html>


<html>


    <link rel="stylesheet" href="../css/partials.css" type="text/css">
    <link rel="stylesheet" href="../css/index.css" type="text/css">
    <link rel="stylesheet" href="../css/faq.css" type="text/css">

    <body>
        {{>header}}


        <div class="q-a">

            <div class="question">What is the purpose of this site? Why should I use it?</div>
            <div class="answer">---</div>

            <div class="question">What is the difference between this site and other squad building sites?</div>
            <div class="answer">--</div>

            <div class="question">Sometimes it takes so long to find a squad... Why?</div>
            <div class="answer">--</div>

            <div class="question">Is it absolutely guarenteed that this site will get me the best possible squads?</div>
            <div class="answer">--</div>

            <div class="question">I have a problem/suggestion about this site. What should I do?</div>
            <div class="answer">--</div>

            <div class="question">What does "adjusting weights" mean?</div>
            <div class="answer">--</div>

            <div class="question">What does "distributing weights equally" mean?</div>
            <div class="answer">--</div>

            <div class="question">What does "inappropriate position change" exactly mean?</div>
            <div class="answer">--</div>

            <div class="question">What is a NLW squad?</div>
            <div class="answer">--</div>

            <div class="question">I want to help this site become better. What should I do?</div>
            <div class="answer">--</div>

            <div class="question">More info about site?</div>
            <div class="answer">--</div>

        </div>


    </body>


   

</html>