body {
    min-height: 1200px;
    background-image: linear-gradient(270deg, #c0d4e4, #eef2f3);  
    opacity: 1;
}

body::after {
    background-image: none;
}



.q-a {
    margin:78px auto 0;
    text-align: center;
    width: 1200px;
    min-height: 600px;
    font-size:25px;

}

.question {
    /* color:#0074D9; */
    color:#131313;
    width: 100%;
    margin:8px 0 40px;
    font-weight: bold;
    cursor: pointer;
}

.question:hover {
    color: #858585;
}

.answer {
    color:black;
    margin-bottom: 80px;
    display: none;
}