<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/show-squad-ortak.css" type="text/css">
        <link rel="stylesheet" href="./css/partials.css" type="text/css">


    </head>

    <body>

        <img src="/img/oth/loading2.gif" alt="resim" class="loading-img">
        
        {{>header}}

        <div id="SQUAD-AREA">

            <div class="player-box" id="gk">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> DIV</div>
                        <div class="shooting"><span>$0</span> HAN</div>
                        <div class="passing"><span>$0</span> KIC</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> REF</div>
                        <div class="defending"><span>$0</span> SPE</div>
                        <div class="physicality"><span>$0</span> POS</div>
                    </div>
                </div>           
            

            </div>
    
    
            <div class="player-box" id="lb">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>
    

            <div class="player-box" id="cb1">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>


            </div>
    
    
            <div class="player-box" id="cb2">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>


            <div class="player-box" id="rb">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>
    
    
            <div class="player-box" id="lm1">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>


            <div class="player-box" id="cm1">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>
    
            <div class="player-box" id="cm2">
            <a class="player-face"></a>
            <div class="nation"></div>
            <div class="club"></div>
            <div class="rating">$R</div>
            <div class="position">$P</div>
            <div class="player-name">$NAME</div>
            
            <div class="stat-area">
                <div class="left-col">
                    <div class="pace"><span>$0</span> PAC</div>
                    <div class="shooting"><span>$0</span> SHO</div>
                    <div class="passing"><span>$0</span> PAS</div>
                </div>

                <div class="right-col">
                    <div class="dribbling"><span>$0</span> DRI</div>
                    <div class="defending"><span>$0</span> DEF</div>
                    <div class="physicality"><span>$0</span> PHY</div>
                </div>
            </div>
            </div>
    
    
            <div class="player-box" id="cm3">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>

            <div class="player-box" id="rm1">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>

            <div class="player-box" id="st1">
                <a class="player-face"></a>
                <div class="nation"></div>
                <div class="club"></div>
                <div class="rating">$R</div>
                <div class="position">$P</div>
                <div class="player-name">$NAME</div>
                
                <div class="stat-area">
                    <div class="left-col">
                        <div class="pace"><span>$0</span> PAC</div>
                        <div class="shooting"><span>$0</span> SHO</div>
                        <div class="passing"><span>$0</span> PAS</div>
                    </div>

                    <div class="right-col">
                        <div class="dribbling"><span>$0</span> DRI</div>
                        <div class="defending"><span>$0</span> DEF</div>
                        <div class="physicality"><span>$0</span> PHY</div>
                    </div>
                </div>
            </div>

        


        </div>




    </body>




    <script src="./js/show-squad.js"></script>
    <script src="./js/fixed_css.js"></script>

</html>